/* Ion.RangeSlider, Simple Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 125px;
    height: 11.58vh;
}
.irs-with-grid {
    height: 75px;
}
.irs-line {
    height: 2px;
    width: 100%;
    bottom: 16px;
    bottom: 0.8075vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    background: none;
}
    .irs-bar-edge {
        height: 10px; top: 33px;
        width: 14px;
        border: 1px solid #428bca;
        border-right: 0;
        background: #428bca;
        background: linear-gradient(to top, rgba(66,139,202,1) 0%,rgba(127,195,232,1) 100%); /* W3C */
        border-radius: 16px 0 0 16px;
        -moz-border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    bottom: 0;
    width: 32px;
    width: 1.615vw;
    height: 32px;
    height: 1.615vw;
    background: #e9d877;
    border-radius: 50%;
    cursor: pointer;
}

.irs-slider:before {
    content: "";
    position: absolute;
    top: -25px;
    top: -2.32vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 25px;
    height: 2.32vh;
    width: 2px;
    background-color: #e9d877;
}

.irs-slider.state_hover, .irs-slider:hover {
    /*background: #FFF;*/
}

.irs-min, .irs-max {
    display: none;
    color: #333;
    font-size: 12px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #e9d877;
    font-size: 62px;
    font-size: 5.77vh;
    font-family: 'WarnockPro-Regular', Arial, Helvetica, Verdana, sans-serif;
    text-shadow: none;
    background: no-repeat;
}

/* .irs-from {
    margin-left: 20px;
}

.irs-to {
    margin-left: 20px;
} */

.irs-from span, 
.irs-to span, 
.irs-single span {
    font-size: 33.75px;
    font-size: 3.1vh;
    margin-left: 10px;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}
